In [1]:
import pandas as pd
data=pd.read_csv('seoul_moving_data/2020/LOCAL_PEOPLE_GU_2020'+'.csv',encoding='cp949')

In [2]:
code_area=data['자치구코드'].unique()

data_for_codes=[]
for code in code_area:
    data_for_codes.append(data[data['자치구코드']==code])

In [3]:
data_for_codes[0]

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,0,20200101,0,11110,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,...,13137.1330,11259.3854,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665
1,1,20200101,0,11140,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,...,9038.9114,10079.4077,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436
2,2,20200101,0,11170,292640.2683,7594.5578,3783.8774,6324.2591,11834.2528,15891.0504,...,13743.5790,16182.6128,13760.6577,13667.5186,10514.6813,11290.0344,8829.6365,9709.4967,8643.7729,6371.5681
3,3,20200101,0,11200,333267.7444,12520.2471,5415.8134,7182.9770,10466.6080,13383.5771,...,12568.6306,13626.2653,14261.8259,15999.6087,12892.9772,13062.3169,11207.5851,12904.2161,11578.6985,8481.8560
4,4,20200101,0,11215,390059.2798,12015.7622,6462.2537,12038.9403,16338.6258,18367.5701,...,19501.6012,18310.8330,16293.1891,16085.3865,13892.6067,15360.7202,14039.0758,14903.7537,13224.1186,9307.2924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219020,219020,20201231,0,11620,507001.9987,12164.0629,5944.2874,9369.8462,19748.4304,35691.8339,...,25952.9835,32738.7919,23845.9815,20649.3642,16716.1080,17275.8908,15396.2851,17635.8716,15777.5539,13151.1855
219021,219021,20201231,0,11650,477590.9221,18835.3884,10404.7799,13759.2120,12259.1874,14720.7714,...,14159.7434,16107.5800,17847.9017,22675.7610,22825.8014,22570.6765,17095.8349,16556.5076,15334.4881,11908.9374
219022,219022,20201231,0,11680,640635.3217,23343.8937,15172.4604,20747.1873,16395.6301,22371.1912,...,21109.3111,24709.0395,26399.3934,30477.0463,30410.3360,31281.9905,21723.6818,20761.1406,18807.2616,14959.4604
219023,219023,20201231,0,11710,740483.6204,30161.6678,15459.1484,20021.4974,18434.5719,25245.0250,...,22013.5456,28922.9100,30783.1478,36202.0432,31442.6451,32073.7104,27067.6822,30566.8198,26745.0703,20015.6234
219024,219024,20201231,0,11740,531141.9549,21201.8427,12032.0255,14780.8861,12767.3901,16624.7811,...,15397.0698,18171.9437,19908.9651,24149.8758,21897.0983,22565.0859,20033.5325,23284.5365,21337.5072,16003.9463