## 1. 연간 교통사고 데이터

In [14]:
import pandas as pd

In [15]:
a=pd.read_csv('frequentzoneOldman.csv')

### 연도별 지역별, 총 발생통계를 나타내줍니다, 위도 경도 정보도 들어있습니다. (연간데이터 입니다.)

In [16]:
a

,year,sidocode,guguncode,occrrnc_cnt,동,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,lo_crd,la_crd
0,2015,서울,강남구,5,서울특별시 강남구1,5,0,1,3,1,127.023858,37.507700
1,2015,서울,강남구,3,서울특별시 강남구2,3,0,1,2,0,127.076399,37.492495
2,2015,서울,강동구,7,서울특별시 강동구1,7,0,3,3,1,127.127708,37.537201
3,2015,서울,강동구,3,서울특별시 강동구2,3,0,2,1,0,127.139970,37.537491
4,2015,서울,강북구,9,서울특별시 강북구1,10,0,4,6,0,127.026477,37.625390
...,...,...,...,...,...,...,...,...,...,...,...,...
832,2021,서울,중구,5,서울특별시 중구2,5,1,4,0,0,126.962636,37.551737
833,2021,서울,중구,5,서울특별시 중구3,5,0,5,0,0,127.018699,37.565860
834,2021,서울,중랑구,5,서울특별시 노원구1,6,1,4,1,0,127.054945,37.677949
835,2021,서울,중랑구,5,서울특별시 노원구2,7,0,6,1,0,127.073646,37.659991
836,2021,서울,중랑구,5,서울특별시 노원구3,5,0,5,0,0,127.080164,37.670290

In [17]:
# 중구 만 뽑기
a=a[a['guguncode']=='중구']

In [18]:
a

,year,sidocode,guguncode,occrrnc_cnt,동,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,lo_crd,la_crd
130,2015,서울,중구,7,서울특별시 중구1,7,1,3,3,0,126.972553,37.555164
131,2015,서울,중구,7,서울특별시 중구2,7,0,7,0,0,127.011645,37.553781
132,2015,서울,중구,6,서울특별시 중구3,6,1,4,1,0,126.977979,37.559511
133,2015,서울,중구,6,서울특별시 중구4,7,0,3,3,1,127.020916,37.565424
134,2015,서울,중구,4,서울특별시 중구5,4,1,2,0,1,126.997831,37.567992
135,2015,서울,중구,4,서울특별시 중구6,5,0,3,2,0,126.993084,37.562644
136,2015,서울,중구,3,서울특별시 중구7,3,0,2,0,1,126.971140,37.559600
281,2016,서울,중구,6,서울특별시 중구1,7,1,5,1,0,126.972275,37.554939
282,2016,서울,중구,5,서울특별시 중구2,12,0,5,3,4,127.009549,37.553124
283,2016,서울,중구,2,서울특별시 중구3,2,2,0,0,0,126.975259,37.563621
416,2017,서울,중구,5,서울특별시 중구1,5,0,4,1,0,127.021086,37.565581
417,2017,서울,중구,4,서울특별시 중구2,5,0,3,2,0,126.976493,37.556023
418,2017,서울,중구,4,서울특별시 중구3,4,0,3,1,0,126.972732,37.555353
419,2017,서울,중구,3,서울특별시 중구4,5,0,1,2,2,126.978017,37.561053
530,2018,서울,중구,5,서울특별시 중구1,5,0,3,1,1,126.972721,37.554883
531,2018,서울,중구,3,서울특별시 중구2,4,1,3,0,0,127.002822,37.571167
532,2018,서울,중구,3,서울특별시 중구3,3,0,2,1,0,127.019591,37.565534
533,2018,서울,중구,2,서울특별시 중구4,3,2,0,0,1,127.002707,37.564711
663,2019,서울,중구,5,서울특별시 중구1,5,2,2,1,0,127.000109,37.566694
664,2019,서울,중구,3,서울특별시 중구2,3,0,2,1,0,127.009478,37.569034
762,2020,서울,중구,6,서울특별시 중구1,6,0,2,1,3,127.021117,37.565476
763,2020,서울,중구,5,서울특별시 중구2,5,0,4,1,0,127.010773,37.553666
764,2020,서울,중구,4,서울특별시 중구3,4,0,4,0,0,127.018720,37.568201
765,2020,서울,중구,4,서울특별시 중구4,4,0,2,2,0,126.997271,37.566475
831,2021,서울,중구,6,서울특별시 중구1,6,0,6,0,0,127.010853,37.553569
832,2021,서울,중구,5,서울특별시 중구2,5,1,4,0,0,126.962636,37.551737
833,2021,서울,중구,5,서울특별시 중구3,5,0,5,0,0,127.018699,37.565860

In [19]:
## 중구만 뽑으려면
## please get summation of every year for only columns occrrnc_cnt,caslt_cnt	dth_dnv_cnt	se_dnv_cnt	sl_dnv_cnt	wnd_dnv_cn
a=a[['year','occrrnc_cnt','caslt_cnt','dth_dnv_cnt','se_dnv_cnt','sl_dnv_cnt','wnd_dnv_cnt']].groupby('year').sum()
## only sum of occrrnc_cnt,caslt_cnt	dth_dnv_cnt	se_dnv_cnt	sl_dnv_cnt	wnd_dnv_cn

      occrrnc_cnt  caslt_cnt  dth_dnv_cnt  se_dnv_cnt  sl_dnv_cnt  wnd_dnv_cnt
year
2015           37         39            3          24           9            3
2016           13         21            3          10           4            4
2017           16         19            0          11           6            2
2018           13         15            3           8           2            2
2019            8          8            2           4           2            0
2020           19         19            0          12           4            3
2021           16         16            1          15           0            0

## 2. 서울 이동데이터(일별)

In [4]:
b=pd.read_csv('total_data.csv')

In [5]:
b

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20170101,0,중구,189272.8069,5839.7737,2145.9994,3504.8663,7559.7180,9531.1893,9219.9123,...,9082.4159,8025.5527,7462.9904,6781.6011,6559.0624,6101.9494,6854.3446,5975.5024,4372.2153,13073.5707
1,20170101,1,중구,165315.2581,4953.2301,1899.6020,2839.3769,6080.5910,7782.7053,7985.0059,...,7332.5253,7014.0546,6906.9194,5914.0432,5619.4692,5433.9002,6392.4890,5422.6489,4092.0430,12442.8680
2,20170101,2,중구,160031.6010,5016.0501,1918.1388,2728.7326,5676.9495,7397.1314,7524.5814,...,6993.6643,6691.3340,6753.9626,5783.4576,5518.0045,5283.1887,6242.8053,5382.0127,4022.9389,12288.9698
3,20170101,3,중구,158427.1590,4932.0504,1889.1525,2742.8372,5624.5096,7375.1756,7412.7389,...,6884.7066,6695.4815,6630.2218,5727.8496,5476.7816,5197.4359,6199.0350,5326.2611,4005.6097,12143.7794
4,20170101,4,중구,157119.6148,4945.0435,1886.6234,2719.1815,5622.4803,7242.5497,7264.8900,...,6846.0152,6581.9457,6561.6255,5723.6570,5358.5867,5140.6064,6089.3829,5325.3315,4045.2399,12118.0702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293307,20221231,19,강동구,495518.4903,20055.0019,11342.5474,14093.1282,12133.4484,14558.5988,15417.0574,...,14576.7129,16281.6656,21789.0342,20864.6741,21463.8607,18447.1016,20268.2639,18960.4656,15151.1660,35696.2209
1293308,20221231,20,강동구,500961.9211,20124.8521,11397.6765,14183.5851,12285.0155,14657.9295,15678.9583,...,14911.5829,16671.2791,22075.3170,21148.2169,21772.2408,18758.6045,20603.7876,19085.5982,15273.1754,35785.6116
1293309,20221231,21,강동구,506973.6962,20301.8894,11527.1939,14194.5456,12337.4796,14896.3901,16021.5099,...,15368.2575,17123.7764,22388.7246,21636.5585,21983.6646,18915.1215,20872.8414,19267.1204,15371.3871,35853.7091
1293310,20221231,22,강동구,513082.1424,20575.2582,11680.7128,14314.5503,12589.8316,15163.5496,16313.2911,...,15743.5868,17599.2959,22758.9078,21790.3671,22470.1934,19140.9948,21049.1490,19256.9484,15427.1046,36129.5123
1293311,20221231,23,강동구,515174.1517,20892.5856,11790.0818,14362.5114,12532.8998,15352.7324,16376.3996,...,16154.2042,17700.1372,22711.2182,21883.4831,22497.0922,19285.0444,21125.2344,19283.2111,15338.5608,35974.7965

## 일별, 시간대별 지역별 이동데이터입니다, 자치구코드 11110-> 중구 같은건 다 바꿔두었고, 일별데이터임을 활용하면 좋을 것 같습니다.

In [6]:
#예를들어, 중구 데이터만 뽑아보겠습니다.a

jungu=b[b['자치구코드']=='중구']

In [7]:
jungu

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20170101,0,중구,189272.8069,5839.7737,2145.9994,3504.8663,7559.7180,9531.1893,9219.9123,...,9082.4159,8025.5527,7462.9904,6781.6011,6559.0624,6101.9494,6854.3446,5975.5024,4372.2153,13073.5707
1,20170101,1,중구,165315.2581,4953.2301,1899.6020,2839.3769,6080.5910,7782.7053,7985.0059,...,7332.5253,7014.0546,6906.9194,5914.0432,5619.4692,5433.9002,6392.4890,5422.6489,4092.0430,12442.8680
2,20170101,2,중구,160031.6010,5016.0501,1918.1388,2728.7326,5676.9495,7397.1314,7524.5814,...,6993.6643,6691.3340,6753.9626,5783.4576,5518.0045,5283.1887,6242.8053,5382.0127,4022.9389,12288.9698
3,20170101,3,중구,158427.1590,4932.0504,1889.1525,2742.8372,5624.5096,7375.1756,7412.7389,...,6884.7066,6695.4815,6630.2218,5727.8496,5476.7816,5197.4359,6199.0350,5326.2611,4005.6097,12143.7794
4,20170101,4,중구,157119.6148,4945.0435,1886.6234,2719.1815,5622.4803,7242.5497,7264.8900,...,6846.0152,6581.9457,6561.6255,5723.6570,5358.5867,5140.6064,6089.3829,5325.3315,4045.2399,12118.0702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091827,20221231,19,중구,229317.7276,6900.2475,2513.9030,4570.3989,9541.2320,10989.4242,10024.2227,...,13338.9166,10524.8547,10728.2179,8631.1843,8750.3371,7627.2160,7623.2050,6409.7777,4384.3999,11193.2979
1091828,20221231,20,중구,211170.8063,6350.6496,2340.0874,4229.1823,9009.0238,10323.8826,9226.2195,...,12314.7040,9562.8310,9803.4684,7752.1475,7821.5938,6905.9788,6908.5242,5868.0214,4096.1664,10655.6459
1091829,20221231,21,중구,196161.8597,5733.7772,2143.0917,3938.5140,8541.0643,9422.9467,8636.5162,...,11418.2834,8881.9134,9062.9518,7027.2171,7120.3785,6256.9194,6338.7684,5452.5934,3772.9348,10444.5396
1091830,20221231,22,중구,181366.1006,5714.8676,2149.0503,3456.7905,7780.8944,8501.4747,7901.3438,...,10010.9664,7984.1795,8405.5708,6591.3149,6566.8055,5715.3015,5857.1550,5103.7145,3614.2154,10107.7192
1091831,20221231,23,중구,161747.7282,4719.3118,1843.6104,2810.4171,6397.2457,7160.6388,6973.1510,...,8371.5647,7076.8349,7793.5397,5905.3915,5947.7869,5181.9113,5374.0164,4829.9789,3433.7912,9785.0864

### 이런식으로 모든 데이터에 대해 비슷하게 활용하면 좋을 것 같아요